/*
Colors used

Background Color (Ghost White): #f8f8ff;
Primary Color: #357b70;
Secondary Color: #e0b354;
Brand Color 0 (dark blue): #03396c
Brand Color 1 (medium blue): #355c9e;
Brand Color 2 (light blue): #6497b1
*/

:root {
    --background-color: #f8f8ff;
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --brand-color-0: #03396c;
    --brand-color-1: #355c9e;
    --brand-color-2: #6497b1;
    --grid-box: #c6e5f5;
    --dark-grey: #2b2b2b;
    --important-color: red;
    --visited: #05676e;
    --selected: #489c79;
    --white: #fff;
    --black: #000;    
    --shadow-color: rgba(0, 0, 0, 0.3);
    --sun-0: #edc655;
    --sun-50: #fcffad;
    --sun-100: #f76414;
    --font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color); font-family: 'Playfair Display', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
}

#title {
    color: var(--white);
    background-color: var(--primary-color);
}


h1 {
    font-size: 30px;
    font-weight: var(--font-weight);
    color: var(--brand-color-0);
}

h2 {
    font-size: 24px;
    font-weight: var(--font-weight);
    color: var(--brand-color-0);
}

h3 {
    font-size: 18px;
    font-weight: var(--font-weight);
    color: var(--brand-color-0);
}

a {
    color: var(--brand-color-0);
}

a:visited {
    /* visited link */
    color: var(--visited);
}

a:hover, a:focus {
    /* add a blue outline around the link when hovering over a link or when it has focus */
    outline: 2px var(--brand-color-0);
    /* No underlining when hovering over a link or when it has focus */
    text-decoration: none;

}

a:active {
    /* selected link */
    color: var(--selected);
}

button, .button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc. of the button */
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    /* adds spacing to the button */
    padding: 10px 20px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid var(--shadow-color);
    font-size: 16px;
    transition: opacity 0.2s;
}

button:hover, button:focus, .button:hover, .button:focus {
    border: 2px solid var(--important-color);
    /*lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

button:active {
    background-color: var(--brand-color-2)
}

button:focus {
    border: 2px solid var(--important-color);
}

.button_secondary {
    background-color: var(--secondary-color);
    color: var(--dark-grey)
}

.standard_label {
    font-size: 18px;
}

.navigation-list {
    font-size: 24px;
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}

.navigation-list__item {
    font-size: 24px;
}

.profile_portrait {
    float: left;
    width: 250px ;
    margin-right: 40px;
    height: auto ;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.about {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contact {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.work {
    text-align: center;
}

.experience {
    display: grid;
    flex-direction: 1fr;
    justify-content: center;
    border: 1px solid var(--black);
    background-color: var(--grid-box);
}

.page-header {
    /* No spacing to top and bottom and auto-spacing to left and right, which centers the container horizontaly */
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid var(--brand-color-1);
    background-color: var(--white);
}

.page-header__item {
    flex: 0 1 200px
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

/* Border X get width */
/* div.borderXwidth a:before, .borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #03396c;
    transition: all 0.3s;
}

div.borderXwidth a:before {
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after {
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, .borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
} */

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
.grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fr actions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
}

.grid__item {
    background-color: var(--grid-box);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 25px;
    transition: transform 0.2s ease; /* Add a smooth transition for the transform property */
}

.grid__item:last-child {
    /* grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}

/* define the hover effect */
.grid__item:hover {
    transform: scale(1.05); /* Increase the size by 5% on hover */
    cursor: pointer; /* Change the cursor to a pointing hand */;
}
}

/* long form */
/* .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
} */

/* short form */
.sun {
    animation: 4s color-change infinite alternate linear;
}

/* long form */
/* .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
} */

/* short form */
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

/* @keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
} */

@keyframes color-change {
    0% {
        fill: var(--sun-0);
    }
    50% {
        fill: var(--sun-50);
    }
    100% {
        fill: var(--sun-100);
    }
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .navigation-list__item {
        font-size: 18px;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px){
    /* shared code */
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

.centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; Full viewport height
}